.container-fluid {
  width: 100%;
}

img {
  max-width: 100%;
}

.nav {
  background-color: white;
  color: black;
  padding: 30px 50px 30px 50px;
}

.nav h1 {
  font-family: 'Eczar', serif;
  font-size: 54px;
}

.nav li {
  list-style-type: none;
  display: inline-block;
  padding: 40px 10px 40px 10px;
  float: right;
  font-family: 'rubik', sans-serif;
}

.nav li a {
  color: black;
  background-color:7be1df;
  padding: 15px;
}

.nav li a:hover {
  background-color: f6ea60;
  font-family: monospace;
}

.nav p {
  font-family: monospace;
}

.projects {
  padding: 30px 50px 30px 50px;
  background-color: ff322e;
  color: white;
}

.projects h2 {
  font-family: 'rubik', sans-serif;
  font-size: 24px;
}

.projects p {
  font-family: monospace;
}

.projects p a {
  color: white;
  text-decoration: underline;
}

.projects p a:hover {
  text-decoration: underline;
  background-color: white;
  color: ff322e;
}

.projects p a:visited {
  color: white;
}

.project {
  padding: 20px 20px 20px 20px;
  margin: 20px 0px 20px 0px;
  background-color: orange;
}

.about {
  background-color: white;
  padding: 50px;

}

.about img {
  background-color: 7be1df;
}

.bio {
  padding: 0px 55px 25 20px;
  font-family: 'Eczar', sans-serif;
  font-size: 34px;
}

.bio p {
  font-family: 'rubik', sans-serif;
  font-size: 16px;
}

.bio p strong {
  background-color: 7be1df;
}

.bio p em {
  background-color: orange;
}

.fannie {
  background-color: ff322e;
  color: white;
}

.bioIntro {
  background-color: f6ea60;
  font-weight: bolder;
}

.contact {
  background-color: ff322e;
  color: white;
  padding: 50px 50px 50px 50px;
  font-family: 'rubik', sans-serif;
  text-align: center;
}

.contact li {
  display: inline-block;
  padding: 30px 10px 30px 10px;
}

.contact li a {
  color: black;
  padding: 15px;
  background-color: 7be1df;
}

.contact li a:hover {
  background-color: f6ea60;
  color: black;
  font-family: monospace;
}
